.wrapper {
  padding: 0 20px 40px 20px;
}
.hiddenCanvas {
    position: absolute;
    display: none;
    background: #fff;
    z-index: 100;
}
.popupWrapper {
  margin: 0 auto 50px auto;
  width: 100%;
  height: 460px;
  background: #fff;
  padding: 50px 45px 40px 45px;
  text-align: center;
  -webkit-box-shadow: 0 24px 47px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 24px 47px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 24px 47px 0 rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  border-radius: 10px;

  .backgroundImageStyle { 
    background: url('../../images/coin_bg_plain.png') no-repeat;
    background-size: 160px 160px;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    position: relative;
  }

  .backgroundTextStyle { 
    background: no-repeat;
    background-size: 160px 160px;
    width: 120px;
    height: 120px;
    position: relative;
    padding: 20px;
    background-position: 0 0px;
  }

  .instruction {
    margin-top: 40px;
    color: #121417;
    font-weight: 500;
    font-size: 16px;
  }

  .wait5SecondsBlock {
    margin-top: 0px;
    color: rgb(255, 0, 0);
    font-weight: 500;
    font-size: 20px;
    img {
      margin-left: 10px;
      width: 18px;
      height: 18px;
    }
  }

  .userAgreementBlock {
    margin-top: 20px;
  }

  .userAgreementText {
    margin-left: 20px;
    margin-right: 5px;
  }

  .userAgreementLink {
    color: #e78b1d;
    font-weight: 500;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .erase {
    margin: 20px auto;
    background: #150c2b;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    width: 220px;
    height: 50px;
    line-height: 3.3;
    border-radius: 5px;
    cursor: pointer;
  }

  .confirm {
    text-transform: uppercase;
    background: #c3a94d;
    color: #1a1c21;
    font-weight: 800;
    width: 220px;
    height: 50px;
    line-height: 3.3;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 33px;
  }

  .disabled {
    opacity: 0.5;
}

  .return {
    text-transform: uppercase;
    color: #fff;
    background: #150c2b;
    font-weight: 800;
    width: 220px;
    height: 50px;
    line-height: 3.3;
    border-radius: 5px;
    margin-right: 33px;
    cursor: pointer;
  }
}

.title {
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
  justify-content: flex-start;
  font-weight: 800;
  margin-bottom: 5px;
  filter: blur(5px);

  .number {
    color: #c3a94d;
    font-size: 71pt;
    margin-right: 15px;
    line-height: 0.9;
  }

  .description {
    font-size: 26pt;
  }
}

.Overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 800px;
  height: 1200px;
  z-index: 100;

  .UserAgreementPopupWrapper {
    background: #fff;
    width: 760px;
    height: 1000px;
    margin: 70px auto auto auto;
    padding: 100px 20px 0 40px;
    -webkit-box-shadow: 0 24px 47px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 24px 47px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 24px 47px 0 rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    border-radius: 10px;
  }

  .UserAgreementTitle {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 40px;
    display: block;
  }

  .UserAgreementTextContainer {
    overflow-y: scroll;
    padding-right: 30px;
  }

  .UserAgreementText {
    max-height: 650px;
  }

  .confirm {
    text-transform: uppercase;
    background: #c3a94d;
    color: #1a1c21;
    font-weight: 800;
    width: 220px;
    height: 50px;
    line-height: 3.3;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto auto auto;
  }
}

.displayNone {
  display: none;
}

.hint {
  margin: 0 auto;
  text-align: center;
  height: 300px;
  img {
    max-width: 30%;
  }
}

.confirmYes {
    text-transform: uppercase;
    background: #c3a94d;
    color: #1a1c21;
    font-weight: 800;
    width: 220px;
    height: 50px;
    line-height: 3.3;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto auto auto;
    border: none;
  }

.confirmNo {
    text-transform: uppercase;
    background: #c3a94d;
    color: #1a1c21;
    font-weight: 800;
    width: 220px;
    height: 50px;
    line-height: 3.3;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto auto auto;
    border: none;
  }
